{% extends "base.html" %}


{% block page_content %}
  <div id="main" class="container">
  {% if todos %}
    <h2>Todos</h2>
    <table class="table table-hover">
      <tr>
        <th>Item</th>
        <th>Title</th>
        <th>Body</th>
        <th>Date</th>
      </tr>
      {% for todo in todos %}
      <tr class="{{ "success" if todo.done }}">
        <td><a href="/todos/{{ todo.id }}">{{ todo.id }}</a>
        <td style="{{ "text-decoration:line-through" if todo.done }}">{{ todo.title }}
        <td style="{{ "text-decoration:line-through" if todo.done }}">{{ todo.title }}</td>
          <td>{{ todo.body|markdown }}</td>
        <td>{{ todo.publication_date.strftime('%Y-%m-%d %H:%M') }}</td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <a href="{{ url_for('main.new') }}" class="btn btn-large btn-primary">New Todo</a>
  {% else %}
   <div class="jumbotron">
    <h1>Welcome..</h1>
    <h3>Please create your first Todo.</h3>
    <a href="{{ url_for('main.new') }}" class="btn btn-large btn-primary">New Todo</a>
   </div>
  {% endif %}
  </div>



{% endblock %}
